.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}


.caja1 {
    display: flex;
    flex-direction: column;
    box-shadow: -11px 15px 14px -2px rgba(14, 6, 48, 0.56);
    padding: 5%;
    margin: 10%;
    text-align: left;
    border-radius: 20px 15px 20px 15px;
    background: rgb(114, 229, 174);
    background: linear-gradient(164deg, rgba(114, 229, 174, 0.9641981792717087) 13%, rgba(247, 179, 225, 0.9641981792717087) 57%, rgba(141, 178, 249, 0.978203781512605) 97%);
}


#boton-enviar {
    width: 50%;
    justify-items: end;
    text-align: center;
    font-size: 100%;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    background-color: #11ad62;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0px 10px 0px 10px;

}

#boton-enviar a :hover{
background-color: rgb(114, 229, 174);
transition: 2s;
}



.caja2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


#img_contacto img {
    width: 250px;
    justify-content: right;
    display: block;
    margin: auto;
}

.datos-contacto {
    text-align: center;
}

.redes ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.redes li img {
    width: 55px;
    height: 55px;
}

.redes a :hover{
    width: 65px;
    height: 65px;
    transition: 0.5s ease-out;

}

.campos {
    padding-bottom: 15px;
    font-size: large;
}


.input {
    margin-left: 3px;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size:large;
}

.para_alinear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.para_alinear label{
    font-size: large;
}
.caja3 {
    padding-top: 35px;
    text-align: center;
    padding-bottom: 40px;
}

.caja3 iframe {
    width: 95%;
    height: 300px;
    border-radius: 20px 15px 20px 15px;
    margin: 2%;

}