@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

/*COLORES
verde medio:#11ad62
verde lima:#c0fe71
verde claro:#bbfcdb
verde medio claro:#58d38c
blanco:#fefefe
COLOR FONDO:#EDEEFF
COLOR TEXTO:#1D438A/

/*selector universal*/
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    cursor: url(../img/cursor.png), auto;
}

a {
    cursor: url(../img/cursor-a.png), auto;
}

header {
    background-color: #EDEEFF;
    color: #1D438A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaUno {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.cajaUno img {
    width: 70px;
    height: 70px;
}

.cajaUno form {
    align-items: center;
}

#buscador {
    width: 400px;
    padding: 5px;
    border-radius: 30px;
    border: none;
}

#boton-buscar {
    border: none;
    color: white;
    background-color: #58d38c;
    padding: 5px;
    border-radius: 30px;
}

#numero-chango {
    width: 25px;
    height: 25px;
    margin: auto;
    text-align: center;
    background-color: #58d38c;
    color: aliceblue;
    border-radius: 50px;
    position: absolute;
    right: 5px;
    top: 4px;
}

#chango {
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.cajaDos {
    display: flex;
    flex-direction: row;
    background-color: #afb1d5;
    width: 100%;
    align-items: center;
    justify-content: center;

}

main {

    background-color: #EDEEFF;

}


/* MENU */
nav a {
    color: #1D438A;
    text-decoration: none;
    display: block;

}

nav ul :hover {
    color: #58d38c;
    transition: 0.5s;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

nav li {
    padding: 5px 20px
}

main {

    background-color: #d7d9f7;

}

/* PIE DE PAGINA */
footer {
    background-color: #1f407e;
    color: rgb(254, 254, 254);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 200;
    font-size: large;
    padding-bottom: 10px;
    animation: color-change 0.4s infinite;
    animation-direction: alternate;

}

footer ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0%;
    list-style: none;
    justify-content: space-between;
    text-align: left;

}

footer ul a {
    color: #EDEEFF;
    text-decoration: none;
}

footer ul a:hover {
    color: aquamarine;
    transition: 0.5s;
}

footer li {
    padding: 3px;
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 5px;
}

.redesSociales {
    display: flex;
    flex-direction: row;
}

#logo-footer {
    display: block;
    margin: auto;
    width: 80px;
}

#redes-logos {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-around;
}