/*COLORES
verde medio:#11ad62
verde lima:#c0fe71
verde claro:#bbfcdb
verde medio claro:#58d38c
blanco:#fefefe
COLOR FONDO:#EDEEFF
COLOR TEXTO:#1D438A/

/*selector universal*/

.caja--tarjeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.cajaUno--tarjeta {
    width: 100%;
    border: 3px solid blue;
}

.cajaDos--tarjeta {
    width: 100%;
    display: block;
    border: 3px solid blue;
    align-items: start;
    justify-content: start;
}

.elementos--color {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.elementos--color ul {
    padding: 0;
    margin: 0;
}

.elementos--color img {
    border-radius: 100%;

}

.elementos--fuente {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: flex-start;
    justify-content: space-evenly;
}

.subtitulo {
    font-size: larger;
}

.monto {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.elementos--posiciones{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: flex-start;
    justify-content: space-evenly;
}

.elementos--posiciones img{
    width: 70px;
}

.elementos--fondo{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: flex-start;
    justify-content: space-evenly;
}
.elementos--fondo img{
    width: 60px;
}


.botonEnviar{
    font-size: 100%;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    color:whitesmoke;
    background-color: #11ad62;
    margin: 20px;
    padding: 15px;
    width: 100%
}