.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caja1 {
    display: flex;
    flex-direction: column;
    background: rgb(191, 195, 255);
    background: linear-gradient(90deg, rgba(191, 195, 255, 0.8297443977591037) 19%, rgba(244, 182, 238, 0.874562324929972) 41%, rgba(67, 217, 131, 0.8605567226890756) 100%);
    box-shadow: -11px 15px 14px -2px rgba(14, 6, 48, 0.56);
    padding: 5%;
    margin: 10%;
    text-align: left;
}

#boton-enviar {
    width: 50%;
    justify-items: end;
    text-align: center;
    font-size: 100%;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    background-color: #11ad62;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0px 10px 0px 10px;

}

.caja2 {
    text-align: left;
}

.caja2 li {
    list-style-position: inside;
}

.caja3 {
    padding-top: 35px;
    text-align: center;
    padding-bottom: 40px;
}

.campos {
    padding-bottom: 15px;
}

.input {
    padding: 3px;
    margin-left: 3px;
    border: none;
    border-radius: 20px;
    background-color: white;

}

.para_alinear {
    display: flex;
    align-items: center;
}

#img_contacto img {
    width: 100px;
    height: 100px;
    justify-content: right;
    display: block;
    margin: auto;
}