/*COLORES
verde medio:#11ad62
verde lima:#c0fe71
verde claro:#bbfcdb
verde medio claro:#58d38c
blanco:#fefefe
COLOR FONDO:#EDEEFF
COLOR TEXTO:#1D438A/

/*selector universal*/

.caja--tarjeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to bottom, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 43%, rgba(206, 199, 236, 1) 65%, rgba(176, 174, 232, 1) 92%, rgba(176, 174, 232, 1) 100%);
}

.cajauno--tarjeta {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
}

.vista-previa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6%;
    margin-left: 10%;
    position: relative;
    width: 80%;
    height: 60%;
    text-align: center;
    box-shadow: -7px 5px 30px 0px rgba(61, 8, 61, 1);
    background-color: aliceblue;

}
.textoPreedefinido{
    font-size: small;
}



.cajauno--tarjeta--precio {
    position: absolute;
    margin-left: 37%;
    margin-top: 3%;
    background-color: #021009;
    color: #11ad62;
    padding: 2%;
    border-radius: 10px 0 10px 0;
}

.cajauno--tarjeta--texto {
    text-align: center;
    justify-content: center;
    margin-bottom: 350px;
}

h1 {
    font-size: xx-large;
}

.cajaDos--tarjeta {
    text-align: start;
    display: block;
    box-sizing: border-box;
    justify-content: start;
    padding: 0%;
    margin: 0%;


}

.nombre-destinatario {
    text-align: left;
    color: #1D438A;
    font-family: inherit;
    font-size: 100%;
    width: 57%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2%;
    background: rgba(141, 113, 243, 0.479);
    background: linear-gradient(103deg, rgba(128, 104, 217, 0.646) 18%, rgba(119, 92, 217, 0.61) 38%, rgba(155, 136, 222, 0.701) 74%);
}

.espacio {
    margin-bottom: 3%;
}


.elementos--color {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding: 0%;
}

.elementos--color img {
    border-radius: 100%;
    margin-right: 40px;
}

.elementos--color input {
    margin-left: 25px;
    margin-right: 62px;
}

/*CLASES COLORES DE TEXTO PARA JS*/
.color_elegido1 {
    color: #11ad62;
}

.color_elegido2 {

    color: #58d38c;
}

.color_elegido3 {
    color: orangered;
}

.color_elegido4 {
    color: orange;
}

.color_elegido5 {
    color: #ecec41;
}

/*CLASES COLORES DE FONDO PARA JS*/
.fondo1 {
    background-image: url(../img/giftCardPage/colorVerOscuro.png);
}

.fondo2 {
    background-image: url(../img/giftCardPage/colorVerClaro.png);
}

.fondo3 {
    background-image: url(../img/giftCardPage/colorNarOscuro.png);
}

.fondo4 {
    background-image: url(../img/giftCardPage/colorNarClaro.png);
}

.fondo5 {
    background-image: url(../img/giftCardPage/colorAma.png);
}


.elementos--fuente {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0%;
}

.elementos--fuente li {
    margin-right: 75px;
}

.elementos--fuente input {
    margin-right: 14px;
}
/*CLASES TAMAÑO FUENTE PARA JS*/
.tamaño_fuente1{
    font-size: 20px;
}
.tamaño_fuente2{
    font-size: 28px;
}
.tamaño_fuente3{
    font-size: 32px;
}
.tamaño_fuente4{
    font-size: 48px;
}
.tamaño_fuente5{
    font-size: 60px;
}

.subtitulo {
    font-size: x-large;
}

.monto {
    display: flex;
    flex-direction: row;

}

.monto input {
    width: 45%;
    margin-left: 20px;
    border: none;
    color: #1D438A;
    border-radius: 5px;
    padding: 5px;
    background: rgba(128, 104, 217, 0.479);
    background: linear-gradient(103deg, rgba(128, 104, 217, 0.646) 18%, rgba(119, 92, 217, 0.61) 38%, rgba(155, 136, 222, 0.701) 74%);
}


.elementos--posiciones {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding: 0%;
}

.elementos--posiciones img {
    width: 70px;
    margin-right: 40px;
}

.elementos--posiciones input {
    margin-right: 75px;
    margin-left: 25px;
}

.elementos--fondo ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%;
}

.elementos--fondo img {
    width: 60px;
    margin-right: 40px;
}

.elementos--fondo input {
    margin-right: 63px;
    margin-left: 25px;
}


.botonEnviar {
    text-align: center;
    font-size: 100%;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    background-color: #11ad62;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0px 10px 0px 10px;
}

/*RESPONSIVE*/

@media screen and (max-widht:480px) {
    
}