* {
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caja1 {
    text-align: left;
    padding-left: 200px;
}

.caja2 {
    text-align: right;
    padding-right: 200px;
}

.caja2 li {
    list-style-position: inside;
}

.caja3 {
    padding-top: 35px;
    text-align: center;
}

.campos {
    padding-bottom: 15px;
}

