#cursos-relacionados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    padding-bottom: 5%;
}

#titulo-cursos-relacionados {
    text-align: center;
}

#detalle-curso {
    display: flex;
    justify-content: space-around;
}

#detalle-curso div {
    margin: 23px;
}

#detalle-curso ul {
    padding: 0%;
    list-style: none;
}

#titulo-docente {
    text-align: left;
    margin-left: 52px;
    padding: 7px;
}

#docente {
    display: flex;
    background-color: #b3b0c4;
    padding: 20px 70px;
}

#docente article {
    padding: 0 23px;
}

#docente h2 {
    margin: 0;
    margin-bottom: 7px;
}

#estrellas {
    margin-bottom: 10px;
}

.caja-curso {
    padding: 30px;
    background-color: aliceblue;
    border-radius: 30px;
}

.caja-curso img {
    border-radius: 30px;
}

#foto-curso {
    border-radius: 30px;
}

button {
    background-color: #11ad62;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 100%;
}

button a {
    text-decoration: none;
    color: white;
}

button :hover {
    color: rgb(182, 224, 205);
    transition: 0.5s;
}

.unidades-curso {
    width: 350px;
    border-radius: 30px;
}

.unidades-curso div {
    margin: 0%;
    width: 100%;
}


#acordeon li {
    padding: 0;
    margin: 0;
}

#acordeon div {
    padding: 10px;
    margin: 0;
}

.acordeon-titulo h4 {
    margin: 0;
    padding: 0;
}

.acordeon-titulo {
    display: block;
    background-color: aliceblue;
    padding: 10px;
    margin: 0%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(216, 214, 214) solid;
}



.unidades-curso li {
    background-color: rgba(141, 113, 243, 0.479);
    padding: 10px;
    margin: 0;
}

.unidades-curso ul {
    margin: 0;
}

.acordeon-contenido {
    display: none;
}

.acordeon-abierto .acordeon-contenido {
    display: block;
}

/*TABLETS*/
@media screen and (min-width: 48em) and (max-width:64em) {
    #cursos-relacionados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .caja-curso {
        margin: 2%;

    }
}

/*CELULAR*/
@media screen and (min-width: 8em) and (max-width:48em) {

    #detalle-curso {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #cursos-relacionados {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .caja-curso {
        margin: 2%;

    }

    h2 {
        font-size: 1em;
        text-align: center;
    }

    h3 {
        font-size: 0.9em;
    }

    footer li {
        font-size: 0.7em;
    }

    #logo-footer {
        width: 50px;
        text-align: center;
    }

    p {
        font-size: 0.9em;
        text-align: center;
    }

    #docente img {
        width: 50%;
        margin: auto;
        display: block;
    }

    #docente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #b3b0c4;
        padding: 20px 70px;
    }

    #foto-curso {
        display: block;
        border-radius: 30px;
        margin: auto;
        width: 75%;
    }

    #detalle-curso div{
        margin: 2%;
        margin-top: 5%;
    }
}