* {
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.caja1 {
    display: flex;
    flex-direction: column;
    background: rgb(191,195,255);
    background: linear-gradient(90deg, rgba(191,195,255,0.8297443977591037) 19%, rgba(244,182,238,0.874562324929972) 41%, rgba(67,217,131,0.8605567226890756) 100%);
    box-shadow: -11px 15px 14px -2px rgba(14,6,48,0.56);
    padding: 5%;
    margin: 10%;
    text-align: left;
    font-size: larger;
    border-radius: 30px 50px 50px 100px;

}
#boton-enviar{
    justify-items: end;
    text-align: center;
    font-size: 100%;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    background-color: #11ad62;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0px 10px 0px 10px;

}

.caja2 {
    padding-top: 10%;
    text-align: right;
    padding-right: 200px;
    font-size: larger;
}

.caja2 li {
    list-style-position: inside;
}

.caja3 {
    padding-top: 35px;
    text-align: center;
    padding-bottom: 35px; 
    font-size: larger;
}

.campos {
    padding-bottom: 15px;
}

.input{
    background-color: #ada0e5;
    border: none;
    border-radius: 5px;
}

.textArea{
    background-color: #ada0e5;
    border: none;
    border-radius: 5px;
}

.fuentes_de_los_campos{
    font-size: l00%;
}


