* {
    margin: 0;
}

main {
    padding: 5%;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.caja1{
text-align: left;
}

.caja2{
text-align: right;
}

.caja2 li{
    list-style-position: inside;
}
