#cursos-relacionados{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

#titulo-cursos-relacionados{
    text-align: center;
}

#detalle-curso{
    display: flex;
    justify-content: space-around;
}

#detalle-curso div{
    margin: 23px;
}

#detalle-curso ul{
    padding: 0%;
    list-style: none;
}

#titulo-docente{
    text-align: left;
    margin-left: 52px;
    padding: 7px;
}

#docente{
    display: flex;
    background-color: #a9aab4;
    padding: 20px 70px;
}

#docente article{
    padding: 0 23px;
}

#docente h2{
    margin: 0;
    margin-bottom: 7px;
}

#estrellas{
    margin-bottom: 10px;
}

