.e-cursos-carrito, .modal-formulario-exitoso{
  display: none;
  /* Ocultar la modal por defecto */
  position: fixed;
  /* Posición fija para que se mantenga en la pantalla */
  z-index: 10000000;
  /* Z-index para colocarlo por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Permitir el desplazamiento si el contenido es demasiado grande */
}

.contenido-modal, .contenido-modal-formulario {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.contenido-modal ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0%;
}

.cerrar, .cerrar-modal-formulario {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.cerrar:hover, .cerrar-modal-formulario:hover{
  color: rgb(59, 55, 55);
  text-decoration: none;
  cursor: url(../img/cursor-a.png);
}

.contenido-modal p, .contenido-modal-formulario p{
  font-size: x-large;
}